b2b-eab-new/src/main/publish/wsdl/EligibilityAndBenefitsService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:data="http://schemas.sen.org/data" xmlns:error="http://schemas.sen.org/error" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://services.sen.org/eligibilityAndBenefits" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://services.sen.org/eligibilityAndBenefits">
	<types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://services.sen.org/eligibilityAndBenefits">
			<xs:import namespace="http://schemas.sen.org/data" schemaLocation="DataModel.xsd"/>
			<xs:import namespace="http://schemas.sen.org/error" schemaLocation="FaultModel.xsd"/>
			<xs:element name="getB2BEligibilityAndBenefits">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DOB" type="xs:date"/>
	            		<xs:element name="FirstName" type="xs:string"/>
	            		<xs:element name="LastName" type="xs:string"/>
	            		<xs:element name="PersonIdentifier" type="xs:string"/>
	            		<xs:element name="EnrolleeIdentifier" type="xs:string"/>
	            		<xs:element name="EnrolleeType" type="xs:string"/>						
					</xs:sequence>
				</xs:complexType>
			</xs:element>	
			<xs:element name="B2BEligibilityAndBenefitsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Response" type="data:tContractListResponses"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="inquiryError" type="error:tInquiryError"/>
		</xs:schema>
	</types>
	<message name="eligibilityByEnrolleeRequest">
		<documentation>The object used to when performing eligibility operations based on the EnrolleeIdentifier</documentation>
		<part element="tns:getB2BEligibilityAndBenefits" name="parameters"/>
	</message>
	<message name="eligibilityAndBenefitsResponse">
		<documentation>The object used to when performing eligibility/claim operations.</documentation>
		<part element="tns:B2BEligibilityAndBenefitsResponse" name="contractList"/>
	</message>
	<message name="inquiryError">
		<part element="tns:inquiryError" name="error"/>
	</message>
	<portType name="EligibilityAndBenefitsServicePortType">
		<documentation>A service to provide method for the retrieval of Eligibility and Benefits information</documentation>
		<operation name="getB2BEligibilityAndBenefits">
			<documentation>A method to retrieve the Eligibility information for the primary enrollee</documentation>
			<input message="tns:eligibilityByEnrolleeRequest"/>
			<output message="tns:eligibilityAndBenefitsResponse"/>
			<fault message="tns:inquiryError" name="inquiryError"/>
		</operation>
	</portType>
	<binding name="EligibilityAndBenefitsServiceBinding" type="tns:EligibilityAndBenefitsServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="getB2BEligibilityAndBenefits">
			<soap:operation soapAction="urn:getB2BEligibilityAndBenefits" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="inquiryError">
				<soap:fault name="inquiryError" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="B2BEligibilityAndBenefitsService">
		<documentation>The B2B Eligibility and Benefits Service</documentation>
		<port name="EligibilityAndBenefitsServicePort" binding="tns:EligibilityAndBenefitsServiceBinding">
			<soap:address location="${soap.context}/EligibilityAndBenefitsServicePort"/>
		</port>
	</service>
</definitions>
